.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-is-mobile .main-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.main-app-name {
  margin-left: 8px;
}

.main-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.main-is-mobile .main-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


.gallery-row {
  white-space: nowrap;
  display: flex;
}

.gallery-row-scrolling {
  grid-row-start: 2;
  grid-column-start: 1;
}

div.main-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div.main-error {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 20em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gallery-cell {
  cursor: pointer;
}

mat-sidenav-content {
  height: 100%;
  display: grid;
  grid-template-areas: "head" "content";
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(1em) 1fr;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: baseline;
}
