<!--<h2 mat-dialog-title>{{data.sortedEntries[data.currentIndex].name}}</h2>-->
<mat-dialog-content (window:keydown.arrowLeft)="left()"
                    (window:keydown.arrowRight)="right()"
                    class="showImage">
  <div [style.backgroundImage]="'url('+ createImageUrl(currentIndex) +')'" class="bigImage">
  </div>
  <div class="actionButtons">
    <a [download]="data.sortedEntries[currentIndex].name" [href]="createDownloadUrl(currentIndex)"
       class="download-button">
      <button mat-icon-button>
        <mat-icon>save_alt</mat-icon>
      </button>
    </a>
    <button *ngIf="supportShare" mat-icon-button>
      <mat-icon (click)="share()">share</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon (click)="close()">close</mat-icon>
    </button>
  </div>
  <div class="arrowLeft">
    <button mat-icon-button>
      <mat-icon (click)="left()">arrow_left</mat-icon>
    </button>
  </div>
  <div class="arrowRight">
    <button mat-icon-button>
      <mat-icon (click)="right()">arrow_right</mat-icon>
    </button>
  </div>
  <div class="foot-row">
    {{data.sortedEntries[currentIndex].name}}
  </div>
</mat-dialog-content>
