:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1e1e1e;
}

.showImage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-height: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-shadow: 0 1px 0 black;
  color: white;
}

.head-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.center-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.foot-row {
  width: 100%;
}
