<!--<h2 mat-dialog-title>{{data.sortedEntries[data.currentIndex].name}}</h2>-->
<mat-dialog-content (window:keydown.arrowLeft)="left()"
                    (window:keydown.arrowRight)="right()"
                    class="showImage">
  <div [style.backgroundImage]="'url('+ createImageUrl(currentIndex) +')'" class="bigImage">
  </div>
  <div class="actionButtons">
    <a [download]="data.sortedEntries[currentIndex].name" [href]="createDownloadUrl(currentIndex)"
       class="download-button">
      <button mat-icon-button>
        <mat-icon>save_alt</mat-icon>
      </button>
    </a>
    <button mat-icon-button>
      <mat-icon (click)="toggleInfo()">info</mat-icon>
    </button>
    <button *ngIf="supportShare" mat-icon-button>
      <mat-icon (click)="share()">share</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon (click)="close()">close</mat-icon>
    </button>
  </div>
  <div class="arrowLeft">
    <button mat-icon-button>
      <mat-icon (click)="left()">arrow_left</mat-icon>
    </button>
  </div>
  <div class="arrowRight">
    <button mat-icon-button>
      <mat-icon (click)="right()">arrow_right</mat-icon>
    </button>
  </div>
  <div *ngIf="showDetails" class="foot-row">
    <div>
      <mat-card *ngIf="imageProperties">
        <mat-card-title>{{imageProperties.cameraModel}}</mat-card-title>
        <mat-card-subtitle>Kamera Modell</mat-card-subtitle>
      </mat-card>
      <mat-card *ngIf="imageProperties">
        <mat-card-title>{{imageProperties.created | date:'short'}}</mat-card-title>
        <mat-card-subtitle>Aufnahme</mat-card-subtitle>
      </mat-card>
      <mat-card>
        <mat-card-title>{{data.sortedEntries[currentIndex].name}}</mat-card-title>
        <mat-card-subtitle>Dateiname</mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>
