<!--<h2 mat-dialog-title>{{data.sortedEntries[data.currentIndex].name}}</h2>-->
<mat-dialog-content (window:keydown.arrowLeft)="left()"
                    (window:keydown.arrowRight)="right()"
                    class="showImage">
  <div [style.backgroundImage]="'url('+ createImageUrl(currentIndex) +')'" class="bigImage">
  </div>
  <div class="actionButtons">
    <a [download]="data.sortedEntries[currentIndex].name" [href]="createDownloadUrl(currentIndex)"
       class="download-button">
      <button mat-icon-button>
        <mat-icon>save_alt</mat-icon>
      </button>
    </a>
    <button mat-icon-button>
      <mat-icon (click)="toggleInfo()">info</mat-icon>
    </button>
    <button *ngIf="supportShare" mat-icon-button>
      <mat-icon (click)="share()">share</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon (click)="close()">close</mat-icon>
    </button>
  </div>
  <div class="arrowLeft">
    <button mat-icon-button>
      <mat-icon (click)="left()">arrow_left</mat-icon>
    </button>
  </div>
  <div class="arrowRight">
    <button mat-icon-button>
      <mat-icon (click)="right()">arrow_right</mat-icon>
    </button>
  </div>
  <div *ngIf="showDetails" class="foot-row">
    <mat-chip-list>
      <mat-chip *ngFor="let keyword of imageProperties?.keywords">
        <mat-icon matChipTrailingIcon>label</mat-icon>
        {{keyword}}
      </mat-chip>
      <mat-chip *ngIf="imageProperties && imageProperties.created">
        <mat-icon matChipTrailingIcon>access_time</mat-icon>
        {{imageProperties.created | date:'short'}}
      </mat-chip>
      <mat-chip *ngIf="imageProperties && imageProperties.cameraModel">
        <mat-icon matChipTrailingIcon>photo_camera</mat-icon>
        {{imageProperties.cameraModel}}</mat-chip>
      <mat-chip *ngIf="imageProperties && imageProperties.focalLength35">{{imageProperties.focalLength35}}mm</mat-chip>
      <mat-chip *ngIf="imageProperties && imageProperties.fNumber">F {{imageProperties.fNumber}}</mat-chip>
      <mat-chip *ngIf="imageProperties && imageProperties.exposureTime">
        <mat-icon matChipTrailingIcon>shutter_speed</mat-icon>
        {{imageProperties.exposureTime | exposureTime}}s
      </mat-chip>
      <mat-chip *ngIf="imageProperties && imageProperties.isoSpeedRatings">
        <mat-icon matChipTrailingIcon>iso</mat-icon>
        ISO {{imageProperties.isoSpeedRatings}}</mat-chip>
      <mat-chip *ngIf="imageProperties">{{data.sortedEntries[currentIndex].name}}</mat-chip>
    </mat-chip-list>
  </div>
</mat-dialog-content>
