:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1e1e1e;
}

.mat-dialog-content {
  max-height: 100%;
}

.showImage {
  width: 100%;
  height: 100%;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

a.download-button:link, a.download-button:visited {
  color: inherit;
}

a.download-button {
  border: none;
  outline: none;
}

.bigImage {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  vertical-align: middle;
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.actionButtons {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
}

.arrowLeft {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrowRight {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.foot-row {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

