<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="/" slot="start"></ion-back-button>
        <ion-title>Offene Anträge bearbeiten</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let request of pendingRequests">
        <ion-card-header class="person">
            <div>
                <ion-card-title>{{request.data.name}}</ion-card-title>
                <ion-card-subtitle>{{request.data.email}}</ion-card-subtitle>
            </div>
            <img [src]="request.data.picture" [alt]="request.data.name">
        </ion-card-header>
        <ion-card-content>
            <p *ngIf="request.reason"> {{request.reason}}</p>
            <ion-button (click)="accept(request)">Ok</ion-button>
            <ion-button (click)="deny(request)">Ablehnen</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
