<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="/" slot="start"></ion-back-button>
        <ion-title>Fotos Hochladen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="canImportFiles">
        <ion-card-header>
            <ion-card-title>Daten importieren</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-button *ngIf="uploadOverallProgress===0" (click)="selectDirectory()">Verzeichnis wählen</ion-button>
            <ion-label *ngIf="this.currentFileName.length>0">{{this.currentFileName}}</ion-label>
            <ion-progress-bar *ngIf="uploadFileProgress>0" [value]="uploadFileProgress"></ion-progress-bar>
            <ion-progress-bar *ngIf="uploadOverallProgress>0" [value]="uploadOverallProgress"></ion-progress-bar>
            <ion-card *ngFor="let statEntry of uploadedStatistics.values()">
                <ion-card-header>
                    <ion-card-title>{{statEntry.albumName}}</ion-card-title>
                    <ion-card-subtitle>Total {{statEntry.uploaded.length + statEntry.committed.length}} Dateien
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-button *ngIf="statEntry.uploaded.length>0"
                                (click)="commit(statEntry)">{{statEntry.uploaded.length}} Commit
                    </ion-button>
                    <ion-button *ngIf="statEntry.committed.length>0" (click)="deleteCommited(statEntry)">{{statEntry.committed.length}} Löschen</ion-button>
                </ion-card-content>
            </ion-card>
            <!--<ion-button *ngIf="importedFiles.length>0" (click)="deleteImportedFiles()">Importierte Daten löschen
            </ion-button>-->
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Album Erstellen</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>Verzeichnis</ion-label>
            <ion-select [(ngModel)]="newAlbumParent">
                <ion-select-option *ngFor="let parent of parentCandidates"
                                   [value]="parent">{{parent}}</ion-select-option>
            </ion-select>
            <ion-input placeholder="Name" [(ngModel)]="newAlbumName"></ion-input>
            <ion-label>Datum</ion-label>
            <ion-datetime minute-values="0,15,30,45" displayFormat="DDD DD MMM , YYYY HH:mm"
                          [(ngModel)]="newAlbumTimestamp"></ion-datetime>
            <ion-button (click)="createAlbum()">Album Erstellen</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
