<ion-header>
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="dark" (click)="openNavigationMenu()">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-title>Fotos Hochladen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="canImportFiles">
        <ion-card-header>
            <ion-card-title>Daten importieren</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-button *ngIf="pendingHiddenUploads>0 || uploadedStatisticsList.length>0"
                        (click)="cleanAllPendingUploads()">Uploads zurücksetzen
            </ion-button>
            <ion-button *ngIf="uploadOverallProgress===0" (click)="selectDirectory()">Verzeichnis wählen</ion-button>
            <ion-label *ngIf="this.currentFileName.length>0">{{this.currentFileName}}</ion-label>
            <ion-progress-bar *ngIf="uploadFileProgress>0" [value]="uploadFileProgress"></ion-progress-bar>
            <ion-progress-bar *ngIf="uploadOverallProgress>0" [value]="uploadOverallProgress"></ion-progress-bar>
            <ion-card *ngFor="let statEntry of uploadedStatisticsList">
                <ion-card-header>
                    <ion-card-title>{{statEntry.albumName}}</ion-card-title>
                    <ion-card-subtitle>Total {{statEntry.uploaded + statEntry.committed}} Dateien
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-button *ngIf="!uploading && statEntry.uploaded>0"
                                (click)="commit(statEntry.albumId)">{{statEntry.uploaded}} Commit
                    </ion-button>
                    <ion-button *ngIf="statEntry.committed>0"
                                (click)="deleteCommitted(statEntry.albumId)">{{statEntry.committed}} Löschen
                    </ion-button>
                    <ion-item *ngIf="uploading">
                        <ion-label>Commit</ion-label>
                        <ion-toggle [(ngModel)]="statEntry.commitAfterUpload"></ion-toggle>
                    </ion-item>
                    <ion-card *ngFor="let commitEntry of commitState.get(statEntry.albumId)">
                        <ion-card-header>
                            <ion-card-title>Commit</ion-card-title>
                            <ng-container [ngSwitch]="commitEntry.currentPhase">
                                <ion-card-subtitle *ngSwitchCase="'READY'">Warte auf Server</ion-card-subtitle>
                                <ion-card-subtitle *ngSwitchCase="'ADD_FILES'">Dateien hinzufügen</ion-card-subtitle>
                                <ion-card-subtitle *ngSwitchCase="'WRITE_TREE'">Abschliessen</ion-card-subtitle>
                                <ion-card-subtitle *ngSwitchCase="'DONE'">Fertig</ion-card-subtitle>
                            </ng-container>
                            <ion-card-content>
                                <ion-progress-bar *ngIf="commitEntry.totalStepCount>0"
                                                  [value]="commitEntry.currentStep/commitEntry.totalStepCount"></ion-progress-bar>
                            </ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-card-content>
            </ion-card>
            <!--<ion-button *ngIf="importedFiles.length>0" (click)="deleteImportedFiles()">Importierte Daten löschen
            </ion-button>-->
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Album Erstellen</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>Verzeichnis</ion-label>
            <ion-select [(ngModel)]="newAlbumParent">
                <ion-select-option *ngFor="let parent of parentCandidates"
                                   [value]="parent">{{parent}}</ion-select-option>
            </ion-select>
            <ion-input placeholder="Name" [(ngModel)]="newAlbumName"></ion-input>
            <ion-label>Datum</ion-label>
            <ion-datetime minute-values="0,15,30,45" displayFormat="DDD DD MMM , YYYY HH:mm"
                          [(ngModel)]="newAlbumTimestamp"></ion-datetime>
            <ion-button (click)="createAlbum()">Album Erstellen</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
