<mat-toolbar class="application-header" color="primary">
  <span>{{title}}</span>
  <div>
    <button (click)="zoomIn()" mat-icon-button>
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button (click)="zoomOut()" mat-icon-button>
      <mat-icon>zoom_out</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error :(
</div>
<cdk-virtual-scroll-viewport (resized)="resized($event)" *ngIf="resultRows" autosize class="gallery-row-scrolling">
  <div *cdkVirtualFor="let row of resultRows" class="gallery-row">
    <img *ngFor="let shape of row.shapes" [alt]="shape.entry.name" [height]="row.height"
         (click)="openImage(shape.entryIndex)"
         [src]="createUrl(row, shape)" [width]="shape.width"
         class="gallery-cell"/>
  </div>
</cdk-virtual-scroll-viewport>
