<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="competitionData">{{data.kategorie_text}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <table *ngIf="data?.zeilen">
        <thead>
        <tr>
            <td *ngIf="showStartTime">Zeit</td>
            <td>Nummer</td>
            <td>Starter</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data.zeilen"
            [className]="row.typ == 'starter' && knownCompetitors.has(row.reiter_id)?'known':''">
            <ng-container *ngIf="row.typ == 'starter'">
                <td *ngIf="showStartTime">{{row.startzeit}}</td>
                <td class="number">{{row.startnummer}}</td>
                <td>{{row.reiter_name}}</td>
            </ng-container>
            <td *ngIf="row.typ == 'text'" colspan="3">{{row.text}}</td>
        </tr>
        </tbody>
    </table>
</ion-content>
