<ion-list>
    <ion-list-header>
        <ion-searchbar (ionChange)="searchGroup($event)"></ion-searchbar>
        <ion-input [value]="newGroupName" (ionChange)="updateNewGroupName($event)"
                   (keyup.enter)="createNewGroup()"
                   placeholder="Gruppe hinzufügen"></ion-input>
        <ion-icon name="add-outline" *ngIf="newGroupName.length>0"
                  (click)="createNewGroup()"></ion-icon>
    </ion-list-header>
    <ion-item *ngFor="let group of filteredGroups" (click)="toggle(group.id)"
              [color]="selectedGroups.has(group.id)?'primary':''">
        <ion-label>{{group.name}}</ion-label>
    </ion-item>
</ion-list>
