ion-card-header.person {
  display: flex;
  justify-content: space-between;
}

ion-card-header.person > img {
  flex-grow: initial;
}

ion-card-content > dl {
  display: grid;
  justify-content: start;
}

ion-card-content > dl > dt {
  grid-column: 1;
}

ion-card-content > dl > dd {
  grid-column: 2;
}
