<ion-header>
    <ion-title>
        {{user?.info.name}}</ion-title>
</ion-header>
<ion-content>
    <super-tabs>
        <super-tabs-toolbar color="">
            <super-tab-button>
                <ion-label>Gruppen</ion-label>
            </super-tab-button>
            <super-tab-button>
                <ion-label>Alben</ion-label>
            </super-tab-button>
        </super-tabs-toolbar>
        <super-tabs-container>
            <super-tab>
                <app-group-list-editor [selectedGroups]="selectedGroups"
                                       (valueChanged)="groupChanged($event)"></app-group-list-editor>
            </super-tab>
            <super-tab>
                <app-album-list-editor [selectedCollections]="selectedAlbums"></app-album-list-editor>
            </super-tab>
        </super-tabs-container>
    </super-tabs>
</ion-content>
<ion-footer>
    <ion-button (click)="apply()">Speichern</ion-button>
</ion-footer>
