<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="/manage-users" slot="start"></ion-back-button>
        <ion-title>
            {{user?.info.name}}</ion-title>
    </ion-toolbar>
    <ion-segment [(ngModel)]="visibleTab">
        <ion-segment-button value="details">
            <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button value="groups">
            <ion-label>Gruppen</ion-label>
        </ion-segment-button>
        <ion-segment-button value="albums">
            <ion-label>Alben</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content [ngSwitch]="visibleTab">
    <ng-container *ngSwitchCase="'details'">
        <ion-card *ngIf="user?.info">
            <ion-card-header>
                <ion-card-title>{{user.info.name}}</ion-card-title>
                <ion-card-subtitle>{{user.info.email}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
        </ion-card>
        <ion-list>
            <ion-item>
                <ion-label>Administrator</ion-label>
                <ion-checkbox [(ngModel)]="canManageUsers"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Editor</ion-label>
                <ion-checkbox [(ngModel)]="isEditor"></ion-checkbox>
            </ion-item>
        </ion-list>
    </ng-container>

    <app-group-list-editor *ngSwitchCase="'groups'" [selectedGroups]="selectedGroups"
                           (valueChanged)="groupChanged($event)"></app-group-list-editor>

    <app-album-list-editor *ngSwitchCase="'albums'" [selectedCollections]="selectedAlbums"></app-album-list-editor>

</ion-content>
<ion-footer>
    <ion-button (click)="apply()">
        <ion-icon name="save"></ion-icon>
    </ion-button>
    <ion-button (click)="delete()" *ngIf="!showCurrentUser">
        <ion-icon name="trash"></ion-icon>
    </ion-button>
</ion-footer>
