<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="/manage-users" slot="start"></ion-back-button>
        <ion-title>
            {{user?.info.name}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <super-tabs>
        <super-tabs-toolbar color="">
            <super-tab-button>
                <ion-label>Details</ion-label>
            </super-tab-button>
            <super-tab-button>
                <ion-label>Gruppen</ion-label>
            </super-tab-button>
            <super-tab-button>
                <ion-label>Alben</ion-label>
            </super-tab-button>
        </super-tabs-toolbar>
        <super-tabs-container>
            <super-tab>
                <ion-card *ngIf="user?.info">
                    <ion-card-header>
                        <ion-card-title>{{user.info.name}}</ion-card-title>
                        <ion-card-subtitle>{{user.info.email}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                    </ion-card-content>
                </ion-card>
                <ion-list>
                    <ion-item>
                        <ion-label>Administrator</ion-label>
                        <ion-checkbox [(ngModel)]="canManageUsers"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Editor</ion-label>
                        <ion-checkbox [(ngModel)]="isEditor"></ion-checkbox>
                    </ion-item>
                </ion-list>
            </super-tab>
            <super-tab>
                <app-group-list-editor [selectedGroups]="selectedGroups"
                                       (valueChanged)="groupChanged($event)"></app-group-list-editor>
            </super-tab>
            <super-tab>
                <app-album-list-editor [selectedCollections]="selectedAlbums"></app-album-list-editor>
            </super-tab>
        </super-tabs-container>
    </super-tabs>
</ion-content>
<ion-footer>
    <ion-button (click)="apply()">
        <ion-icon name="save"></ion-icon>
    </ion-button>
    <ion-button (click)="delete()" *ngIf="!showCurrentUser">
        <ion-icon name="trash"></ion-icon>
    </ion-button>
</ion-footer>
