<ion-header>
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="dark" (click)="openNavigationMenu()">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-title>
            <span>{{title}}</span>
        </ion-title>
        <!--<ion-button *ngIf="selectionMode" [disabled]="this.selectedEntries.size==0" slot="end" (click)="downloadAlbum()">
            <ion-icon name="download"></ion-icon>
        </ion-button>-->
        <ion-button slot="end" [color]="syncEnabled?'':'light'" (click)="syncAlbum()">
            <ion-icon name="sync"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)="showFilters()">
            <ion-icon name="options-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" color="dark" (click)="popupMenu($event)">
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <span>{{timestamp | date: 'medium'}}</span>
</ion-header>
<ion-menu side="end" [menuId]="filterId" content-id="content-list">
    <ion-header>
        <ion-toolbar>
            <ion-button fill="clear" color="dark" slot="start" (click)="closeFilterMenu()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-title *ngIf="!enableSettings">Filtern nach</ion-title>
            <ion-title *ngIf="enableSettings">Details</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item *ngIf="enableSettings" [routerLink]="'/album/'+albumId+'/manage'"
                      slot="end"
                      color="light">
                <ion-label>Manage</ion-label>
                <ion-icon name="settings" slot="start"></ion-icon>
            </ion-item>
            <ion-radio-group *ngIf="days.length>0" [(ngModel)]="selectedDay" (ionChange)="refreshFilters()">
                <ion-list-header>Datum</ion-list-header>
                <ion-item>
                    <ion-label>Alle ({{allDateCounts}})</ion-label>
                    <ion-radio slot="start" [value]="undefined"></ion-radio>
                </ion-item>
                <ion-item *ngFor="let day of days">
                    <ion-label>{{day | date:'E dd.MM.yyyy'}} ({{dayCounters.get(day)}})</ion-label>
                    <ion-radio slot="start" [value]="day"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <ion-item-group *ngIf="sortedKeywords.length>0">
                <ion-list-header>Tags</ion-list-header>
                <ion-chip *ngFor="let kw of sortedKeywords" color="primary"
                          [outline]="!filteringKeywords.has(kw)" (click)="filter(kw)">
                    <ion-icon name="person" *ngIf="kw.startsWith('@')"></ion-icon>
                    <ion-label>{{kw}} ({{keywordCounters.get(kw)}})</ion-label>
                </ion-chip>
            </ion-item-group>
            <ion-item-group>
                <ion-radio-group [(ngModel)]="filterTimeStep" (ionChange)="refreshFilters()">
                    <ion-list-header>Anzahl Fotos reduzieren nach</ion-list-header>
                    <ion-item>
                        <ion-label>Sekunden</ion-label>
                        <ion-radio slot="start" [value]="1000"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Minuten</ion-label>
                        <ion-radio slot="start" [value]="60*1000"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>10 Minuten</ion-label>
                        <ion-radio slot="start" [value]="10*60*1000"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>keine Reduktion</ion-label>
                        <ion-radio slot="start" [value]="0"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-item-group>
            <ion-item-group *ngIf="sortedKeywords.length>0 && canEdit && selectedEntries.size>0">
                <ion-item-divider>Tags</ion-item-divider>
                <ion-item *ngFor="let k of sortedKeywords">
                    <ion-label>{{k}}</ion-label>
                    <ion-button [disabled]="!selectionCanAdd(k)" (click)="addTag(k)">
                        <ion-icon name="add-circle"></ion-icon>
                    </ion-button>
                    <ion-button [disabled]="!selectionCanRemove(k)" (click)="removeTag(k)">
                        <ion-icon name="remove-circle"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-item-group>
            <ion-item-group *ngIf="canEdit && selectedEntries.size>0">
                <ion-item-divider>Neues Tag</ion-item-divider>
                <ion-item>
                    <ion-label>Tag</ion-label>
                    <ion-input (keydown.enter)="tagAdded($event)" [(ngModel)]="newTag" type="text"></ion-input>
                </ion-item>
            </ion-item-group>
            <ion-item-group *ngIf="pendingMutationCount>0 || selectedEntries.size>0">
                <ion-item-divider>Aktionen</ion-item-divider>
                <ion-button [disabled]="pendingMutationCount === 0" (click)="storeMutation()">Speichern
                    ({{pendingMutationCount}})
                </ion-button>
                <ion-button [disabled]="pendingMutationCount == 0" (click)="resetMutation()">Abbrechen</ion-button>
                <ion-button [disabled]="selectedEntries.size==0" (click)="clearSelection()">Selektion entfernen
                    ({{selectedEntries.size}})
                </ion-button>
            </ion-item-group>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-content (ionScroll)="onScroll($event)"
             scroll-events="true"
             #content
             id="content-list"
             (touchstart)="onTouchStart($event)"
             (touchmove)="onTouchMove($event)">
    <div class="image-list" #imageList (resized)="resized()">
        <ng-container *ngFor="let row of rows; index as rowNr" class="row">
            <h1 *ngIf="row.kind=='timestamp'" [id]="'day-'+row.id">
                {{row.time | date:'fullDate' }}
            </h1>
            <div *ngIf="row.kind=='images'" [ngStyle]="{'height.px':(elementWidth*row.height), 'width.%':100}"
                 class="image-block" [id]="'row-'+rowNr">
                <div *appInViewport>
                    <div *ngFor="let blockPart of row.blocks; index as blockNr"
                         [ngStyle]="{'height.px':(elementWidth/blockPart.width), 'width.%':100}"
                         [id]="'block-'+rowNr+'-'+blockNr">
                        <div *appInViewport="8" class="image-row" [attr.timestamp]="blockPart.beginTimestamp">
                            <div *ngFor="let shape of blockPart.shapes; index as shapeNr"
                                 [ngStyle]="{'height.px':(elementWidth/blockPart.width),'width.px':elementWidth/blockPart.width*shape.width}"
                                 class="image-thumbnail-box">
                                <!--<a [routerLink]="createEntryLink(shape)" [queryParams]="queryParams()"
                                   class="image-thumbnail-anchor">-->
                                <img [src]="blockPart.scaledImages[shapeNr] | async" width="100%"
                                     height="100%"
                                     class="image-thumbnail-image"
                                     (click)="imageClicked(blockPart, shape, $event)"
                                     [class.image-selected]="selectedEntries.has(shape.entry.albumEntryId)">
                                <ion-icon name="play-circle-outline" class="image-thumbnail-icon"
                                          [ngStyle]="{'font-size.px':elementWidth/blockPart.width/3}"
                                          *ngIf="shape.isVideo">
                                </ion-icon>
                                <!--</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ion-content>
