<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="/album" slot="start"></ion-back-button>
        <ion-title>
            <span>{{title}}</span>
        </ion-title>
        <ion-button *ngIf="fnCompetitionId" slot="end"
                    [href]="'https://info.fnch.ch/#/resultate/veranstaltungen/'+fnCompetitionId">
            <ion-icon name="list"></ion-icon>
        </ion-button>
        <ion-button *ngIf="enableSettings" [routerLink]="'/album/'+albumId+'/manage'" slot="end" color="light">
            <ion-icon name="settings"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" scroll-events="true" #content>
    <div class="imagelist" #imageList (resized)="resized()">
        <div *ngFor="let row of rows; index as rowNr" class="row">
            <div *ngIf="row.kind=='timestamp'" [id]="'day-'+row.time">
                {{row.time | date:'fullDate' }}
            </div>
            <div *ngIf="row.kind=='images'" [ngStyle]="{'height.px':(elementWidth*row.height), 'width.%':100}"
                 class="image-block">
                <div *appInViewport>
                    <div *ngFor="let blockPart of row.blocks"
                         [ngStyle]="{'height.px':(elementWidth/blockPart.width), 'width.%':100}">
                        <div *appInViewport="8" class="image-row">
                            <div *ngFor="let shape of blockPart.shapes"
                                 [ngStyle]="{'height.px':(elementWidth/blockPart.width),'width.px':elementWidth/blockPart.width*shape.width}">
                                <a [routerLink]="'/album/'+albumId+'/media/'+shape.entry.id">
                                    <img [src]="loadImage(blockPart, shape) | authImage | async">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
