.image-row {
    display: flex;
    /*height: 100% !important;*/
    width: 100%;
}

ion-content {
    width: 100%;
}

.image-row > div {
    /*position: initial !important;
    transform: initial !important;*/
}

.image-list, .row, .image-row {
    width: 100%;
}

ion-title > ion-icon {
    font-size: 1em;
}

ion-title {
    vertical-align: middle;
}

.row > h1 {
    font-size: 1em;
    line-height: 1;
    font-weight: normal;
    margin: 0.3em;
}

.image-thumbnail-box{
    contain: strict;
}

a.image-thumbnail-anchor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.image-thumbnail-image {
    grid-column: 1/4;
    grid-row: 1/4;
    align-self: center;
    justify-self: center;
}
.image-thumbnail-icon {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    color: rgba(169, 169, 169, 0.8);
    filter: blur(0.02em);
}
.image-selected {
    border-width: 0.3em;
    border-style: inset;
}
ion-menu{
    --max-width: 100%;
    --min-width: 30%;
}
