td.mat-cell {
  padding-left: 1em;
  padding-right: 1em;
}

div.user-photo {
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: baseline;
}
