td.mat-cell {
  padding-left: 1em;
  padding-right: 1em;
}

div.user-photo {
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: baseline;
}

tr.user-detail-row {
  height: 0;
}


tr.user-row:not(.user-expanded-row):hover {
  background: #777;
}

tr.user-row:not(.user-expanded-row):active {
  background: #efefef;
}

div.user-detail {
  padding: 16px;
  display: flex;
  justify-content: space-around;
}

.user-detail-row td {
  overflow: hidden;
}
