<ion-header>
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="dark" (click)="openNavigationMenu()">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-title>
            <ion-searchbar placeholder="Album Suchen" (ionChange)="updateSearch($event)"></ion-searchbar>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content id="album-list-content">
    <p>
        <ion-card *ngFor="let entry of foundAlbums; let i = index">
            <ion-card-header [routerLink]="[entry.url]" class="link">
                <ion-card-subtitle
                        *ngIf="entry.data.albumTime">{{entry.data.albumTime | date:'fullDate'}}</ion-card-subtitle>
                <ion-card-title>{{entry.data.title}}</ion-card-title>
                <ion-card-subtitle *ngIf="this.canManageUsers && entry.data.fnchAlbumId">
                    FNCH ID: {{entry.data.fnchAlbumId}}
                </ion-card-subtitle>
                <ion-card-subtitle>
                    {{entry.data.entryCount | number}}
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-button *ngIf="entry.sync==='none'" color="light" (click)="enableSync(entry.data.id)">
                    <ion-icon name="cloud"></ion-icon>
                </ion-button>
                <ion-button *ngIf="entry.sync==='ready'" (click)="disableSync(entry.data.id)">
                    <ion-icon name="cloud-done"></ion-icon>
                </ion-button>
                <ion-button *ngIf="entry.sync==='loading'" (click)="disableSync(entry.data.id)">
                    <ion-icon name="cloud-offline"></ion-icon>
                </ion-button>
                <ion-button *ngIf="this.canManageUsers" [routerLink]="[entry.url,'manage']" color="light">
                    <ion-icon name="settings"></ion-icon>
                </ion-button>
            </ion-card-content>
        </ion-card>
    </p>
</ion-content>
