<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon (click)="back()" name="arrow-back"></ion-icon>
            <ion-searchbar placeholder="Album Suchen" (ionChange)="updateSearch($event)"></ion-searchbar>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <p>
        <ion-card *ngFor="let entry of foundAlbums; let i = index" [routerLink]="[entry.url]">
            <ion-card-header>
                <ion-card-subtitle>{{entry.data.albumTime | date:'fullDate'}}</ion-card-subtitle>
                <ion-card-title>{{entry.data.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
        </ion-card>
    </p>
</ion-content>
