<ion-app>
    <ion-menu contentId="main-content" type="overlay">
        <ion-content>

            <ion-list *ngIf="selectedCollectionIndex>=0" id="day-list">
                <ion-list-header>Datum</ion-list-header>
            </ion-list>
            <ion-list *ngIf="selectedCollectionIndex>=0 && labels.length>0" id="labels-list">
                <ion-list-header>Labels</ion-list-header>

                <ion-item *ngFor="let label of labels" lines="none">
                    <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
                    <ion-label>{{ label }}</ion-label>
                </ion-item>
            </ion-list>

            <ion-list id="collections-list">
                <ion-list-header>Alben</ion-list-header>
                <ion-input placeholder="Album Suchen" (ionChange)="updateSearch($event)" inputmode="search"></ion-input>
                <!--<ion-note>hi@ionicframework.com</ion-note>-->
                <ion-menu-toggle auto-hide="false" *ngFor="let p of visibleCollections; let i = index">
                    <ion-item (click)="selectedCollectionIndex = i" routerDirection="root" [routerLink]="[p.url]"
                              lines="none"
                              detail="false" [class.selected]="selectedCollectionIndex == i">
                        <ion-label>{{ p.data.name }}</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>

        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
