<div class="image" (keyup.arrowLeft)="showImage(previousMediaId)" (keyup.arrowRight)="showImage(nextMediaId)" #videoRoot
     (resized)="resized()">
    <ion-slides (ionSlideTransitionEnd)="slided()" #imageSlider>
        <ion-slide>
            <img [src]="previousMediaContent | async" *ngIf="previousMediaId">
        </ion-slide>
        <ion-slide>
            <img [src]="currentMediaContent | async" *ngIf="!playVideo">
            <video [src]="loadVideo(this.mediaId) | authImage | async" *ngIf="playVideo" controls>
                <img [src]="currentMediaContent | async">
            </video>
        </ion-slide>
        <ion-slide>
            <img [src]="nextMediaContent | async" *ngIf="nextMediaId">
        </ion-slide>
    </ion-slides>
    <div class="overlay" *ngIf="!playVideo">
        <div *ngIf="previousMediaId" class="left-button">
            <ion-icon class="button" name="arrow-back" (click)="showImage(previousMediaId)"></ion-icon>
        </div>
        <div *ngIf="nextMediaId" class="right-button">
            <ion-icon class="button" name="arrow-forward" (click)="showImage(nextMediaId)"></ion-icon>
        </div>
        <div class="play-button" *ngIf="currentIsVideo">
            <ion-icon class="button" name="play-circle-outline" (click)="playVideo=true"></ion-icon>
        </div>
        <ion-header>
            <ion-toolbar color="dark">
                <ion-icon name="arrow-back-outline" (click)="back()" size="large" slot="start"></ion-icon>
                <ion-title>
                    <span>{{title}}</span>
                </ion-title>
                <ion-button slot="end" color="dark" *ngIf="canPresent && isPresenting"
                            (click)="presentCurrentMedia(false)">
                    <ion-icon name="easel"></ion-icon>
                </ion-button>
                <ion-button slot="end" color="dark" *ngIf="canPresent && !isPresenting"
                            (click)="presentCurrentMedia(true)">
                    <ion-icon name="easel-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="toggleMetadata()" slot="end" color="dark">
                    <ion-icon name="information-circle-outline"></ion-icon>
                </ion-button>
            </ion-toolbar>
        </ion-header>
        <div class="footer">
            <div *ngIf="showDetails=='Metadata'" class="file-meta">
                <ion-chip *ngIf="metadata?.name">
                    <ion-icon name="document" color="light"></ion-icon>
                    <ion-label>{{metadata.name}}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="metadata?.created">
                    <ion-icon name="time" color="light"></ion-icon>
                    <ion-label>{{metadata.created | date:'medium' }}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="metadata?.cameraModel">
                    <ion-icon name="camera" color="light"></ion-icon>
                    <ion-label>{{metadata.cameraModel}}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="metadata?.exposureTime">
                    <ion-icon name="stopwatch" color="light"></ion-icon>
                    <ion-label>{{calcTime(metadata.exposureTime)}}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="metadata?.fNumber">
                    <ion-icon name="aperture" color="light"></ion-icon>
                    <ion-label>F{{metadata.fNumber}}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="metadata?.focalLength35">
                    <ion-label>{{metadata.focalLength35}} mm</ion-label>
                </ion-chip>
                <ion-chip *ngIf="metadata?.isoSpeedRatings">
                    <ion-label>ISO {{metadata.isoSpeedRatings}}</ion-label>
                </ion-chip>
                <ion-chip *ngFor="let keyword of currentSelectedKeywords">
                    <ion-label>{{keyword}}</ion-label>
                    <ion-icon name="close" *ngIf="canEdit" color="light" (click)="removeKeyword(keyword)"></ion-icon>
                </ion-chip>
            </div>
            <div *ngIf="canEdit && showDetails === 'Metadata'" class="file-label">
                <div>
                    <ion-chip *ngFor="let kw of autoCompleteKwCandidates" (click)="addKeyword(kw)">
                        <ion-label>{{kw}}</ion-label>
                        <ion-icon name="add" color="light"></ion-icon>
                    </ion-chip>
                </div>
                <ion-input placeholder="Neues Stichwort" (keyup.enter)="addKeyword(inputKeyword)"
                           [(ngModel)]="inputKeyword"
                           (keyup)="updateAutocomplete()" color="light"></ion-input>
            </div>
            <div class="toolbar">
                <ion-button (click)="downloadCurrentFile(mediaId, metadata)" color="dark">
                    <ion-icon name="download-outline"
                    ></ion-icon>
                </ion-button>
                <ion-popover [isOpen]="isDownloadPopoverOpen" (didDismiss)="isDownloadPopoverOpen=false">
                    <ng-template>
                        <ion-list>
                            <ion-item (click)="downloadVideo(mediaId, metadata, 1600)">Hohe Qualität</ion-item>
                            <ion-item (click)="downloadVideo(mediaId, metadata, 800)">Niedrige Qualität</ion-item>
                        </ion-list>
                    </ng-template>
                </ion-popover>
                <ion-button *ngIf="supportShare" (click)="shareCurrentFile(mediaId, metadata)" color="dark">
                    <ion-icon name="share-social-outline"
                    ></ion-icon>
                </ion-button>
                <ion-popover [isOpen]="isSharePopoverOpen" (didDismiss)="isSharePopoverOpen=false">
                    <ng-template>
                        <ion-list>
                            <ion-item (click)="shareVideo(mediaId, metadata, 1600)">Hohe Qualität</ion-item>
                            <ion-item (click)="shareVideo(mediaId, metadata, 800)">Niedrige Qualität</ion-item>
                        </ion-list>
                    </ng-template>
                </ion-popover>
            </div>
        </div>

    </div>
</div>
