ion-slides {
    height: 100%;
    width: 100%;
}

ion-slide {
    height: 100%;
    width: 100%;
}

.image {
    height: 100%;
    width: 100%;
    background-color: black;
}

.image img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
}

.image video {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
}

div.overlay {
    position: absolute;
    display: grid;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: white;
}

div.overlay > ion-header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    align-self: flex-start;
}

div.overlay > div.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
    align-self: flex-end;
}

div.overlay > div.footer > div {
    display: flex;
    flex-wrap: wrap;
}

div.overlay > div.footer > div.toolbar {
    justify-content: space-around;
}

div.overlay > div.footer > div.file-label {
    flex-direction: column;
}


.right-button {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left-button {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.play-button {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

@media (pointer: coarse) {
    .left-button {
        visibility: hidden;
    }

    .right-button {
        visibility: hidden;
    }

    ion-icon.button {
        font-size: 4ex;
    }
}


ion-chip {
    --color: white;
    background-color: #00000080;
    white-space: nowrap;
    z-index: 1;
}

.file-label > ion-input {
    border-radius: 2ex;
    padding: 0.5ex;
    background-color: #00000080;
    white-space: nowrap;
    width: 100%;
}

.button {
    color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.3em);
    padding: 0.5ex;
    border-radius: 50%;
    z-index: 1;
}

.ion-color-dark {
    --ion-color-base: #00000020 !important;
}

.input-new-label {
}
