<ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-icon name="" ></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="imagelist" #imageList (resized)="resized()">
        <div *ngFor="let row of rows; index as rowNr" class="row">
            <div *ngIf="row.kind=='timestamp'">
                {{row.time | date:'fullDate' }}
            </div>
            <div *ngIf="row.kind=='images'" [ngStyle]="{'height.px':(elementWidth*row.height), 'width.%':100}" class="image-block">
                <div *appInViewport>
                    <div *ngFor="let blockPart of row.blocks" [ngStyle]="{'height.px':(elementWidth/blockPart.width), 'width.%':100}">
                        <div *appInViewport class="image-row">
                            <div *ngFor="let shape of blockPart.shapes"
                                 [ngStyle]="{'height.px':(elementWidth/blockPart.width),'width.px':elementWidth/blockPart.width*shape.width}">
                                <picture>
                                    <img [src]="loadImage(blockPart, shape) | authImage | async">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
