.image-row {
    display: flex;
    /*height: 100% !important;*/
}

.image-row > div {
    /*position: initial !important;
    transform: initial !important;*/
}

.imagelist, .row, .image-row {
    width: 100%;
}
