<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Hallo User
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Um die Fotos sehen zu können, musst du dich mit einem GMail-User einloggen.
        </ion-card-content>
    </ion-card>
    <ion-button expand="block" id="signin-button">
        Sign in with Google
        <ion-icon slot="start" name="logo-google"></ion-icon>
    </ion-button>
</ion-content>
