<ion-header>
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="dark" (click)="openNavigationMenu()">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content><ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Hallo User
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Um die Fotos sehen zu können, musst du dich mit einem GMail-User einloggen.
        </ion-card-content>
    </ion-card>
    <ion-button expand="block" id="signin-button" (click)="login()">
        Sign in with Google
        <ion-icon slot="start" name="logo-google"></ion-icon>
    </ion-button>
</ion-content>
