<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error :(
  <br>
  {{error}}
</div>
<mat-card *ngIf="authenticationState && authenticationState.state">
  <mat-card-header>
    <img [src]="authenticationState.user.info.picture" mat-card-sm-image>
    <mat-card-title>{{authenticationState.user.info.name}}</mat-card-title>
    <mat-card-subtitle>{{authenticationState.user.info.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="authenticationState.state==='AUTHENTICATED'"><p>Willst du dich mit diesen Daten bei RAoA
    registrieren?</p>
    <mat-form-field>
      <mat-label>Grund (optional)</mat-label>
      <textarea [(ngModel)]="reason" matInput>
      </textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-content *ngIf="authenticationState.state==='AUTHORIZATION_REQUESTED'">
    <p>
      Deine Registrierungsanfrage ist gespeichert. Bitte warte auf die Freigabe.
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="authenticationState.state==='AUTHENTICATED'">
    <button (click)="submitWithReason()" mat-button>registrieren</button>
  </mat-card-actions>
</mat-card>
