<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="/manage-teams" slot="start"></ion-back-button>
        <ion-title>
            {{groupData?.name}}</ion-title>
    </ion-toolbar>
    <ion-segment [(ngModel)]="visibleTab">
        <ion-segment-button value="details">
            <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button value="users">
            <ion-label>Users</ion-label>
        </ion-segment-button>
        <ion-segment-button value="albums">
            <ion-label>Alben</ion-label>
        </ion-segment-button>
    </ion-segment>

</ion-header>
<ion-content [ngSwitch]="visibleTab">
    <ng-container *ngSwitchCase="'details'">
        <ion-card *ngIf="groupData?.name">
            <ion-card-title>
                <ion-card-subtitle>Name Anpassen</ion-card-subtitle>
                <ion-input [(ngModel)]="groupName"></ion-input>
            </ion-card-title>
        </ion-card>
        <ion-card>
            <ion-card-subtitle>FNCH Teilnehmer-ID</ion-card-subtitle>
            <ion-card-title>
                <ion-input [(ngModel)]="fnchCompetitorId"></ion-input>
            </ion-card-title>
        </ion-card>
    </ng-container>
    <app-user-list-editor *ngSwitchCase="'users'" [selectedUsers]="selectedUsers"
                          (valueChanged)="usersChanged($event)"></app-user-list-editor>
    <app-album-list-editor *ngSwitchCase="'albums'" [selectedCollections]="selectedAlbums"
                           (valueChanged)="albumsChanged($event)"></app-album-list-editor>
</ion-content>
<ion-footer>
    <ion-button (click)="apply()">Speichern</ion-button>
</ion-footer>
