<ion-header>
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="dark" (click)="openNavigationMenu()">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
        Gruppen
    </ion-toolbar>
    <ion-searchbar (ionChange)="updateFilter($event)"></ion-searchbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Gruppe erstellen</ion-card-subtitle>
            <ion-card-title>
                <ion-input placeholder="Namen der Gruppe" (keyup.enter)="createGroup($event)"></ion-input>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card *ngFor="let group of filteredGroups" [routerLink]="group.id">
        <ion-card-header>
            <ion-card-title>{{group.name}}</ion-card-title>
            <ion-card-subtitle>{{group.members.length}} Mitglieder</ion-card-subtitle>
            <ion-card-subtitle>{{group.canAccess.length}} Alben</ion-card-subtitle>
            <ion-card-subtitle *ngIf="hasFnchId(group)">FNCH ID {{getFnchId(group)}}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>
