apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ include "raoa.fullname" . }}-el-monitor
spec:
  podMetricsEndpoints:
    - path: /metrics
      port: http
  selector:
    matchLabels:
      {{- include "raoa.elMonitorSelectorLabels" . | nindent 6 }}
