name: Java CI

on: [ push, workflow_dispatch ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: fregante/setup-git-user@v1
      - name: Set up JDK 1.17
        uses: actions/setup-java@v1
        with:
          java-version: 1.17
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-
      - uses: s4u/maven-settings-action@v2.3.0
        with:
          servers: |
            [{
                "id": "docker.pkg.github.com",
                "username":"${{ github.actor }}",
                "password":"${{ secrets.GITHUB_TOKEN }}"
            },{
                "id": "koa-releases",
                "username":"${{ secrets.NEXUS_USER }}",
                "password":"${{ secrets.NEXUS_PASSWORD }}"
            },{
                "id": "koa-snapshots",
                "username":"${{ secrets.NEXUS_USER }}",
                "password":"${{ secrets.NEXUS_PASSWORD }}"
            },{
                "id": "docker.berg-turbenthal.ch",
                "username":"${{ secrets.NEXUS_USER }}",
                "password":"${{ secrets.NEXUS_PASSWORD }}"
            },{
               "id": "docker-snapshot.berg-turbenthal.ch",
               "username":"${{ secrets.NEXUS_USER }}",
               "password":"${{ secrets.NEXUS_PASSWORD }}"
            }]
      - name: Build with Maven
        run: mvn --batch-mode deploy -DperformRelease=true --file pom.xml
        if: github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_USERNAME: ${{ secrets.NEXUS_USER }}
          MAVEN_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      - name: Release with Maven
        run: mvn --batch-mode release:prepare release:perform --file pom.xml
        if: github.event_name == 'workflow_dispatch'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_USERNAME: ${{ secrets.NEXUS_USER }}
          MAVEN_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
